@import 'node_modules/@fontsource/bebas-neue/index.css';
@import 'node_modules/@fontsource/open-sans/index.css';

$font-family-primary: "Bebas Neue", cursive;
$font-family-secondary: "Open Sans", sans-serif;
$font-primary-color:#e5e5e5;
$bg-primary-color:#000000